@model CoreAndFood.Data.Models.Food
@{
    ViewData["Title"] = "FoodAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Food Add Page</h2>
<br />

@using (Html.BeginForm("AddFood","Food", FormMethod.Post)){
    @*    <b>Category ID</b>
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    <br />*@
    @Html.Label("Food Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("ImageURL")
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @*    @Html.LabelFor(x => x.Category.CategoryName)*@
    @Html.Label("Category Adı")
    @Html.DropDownListFor(x=>x.CategoryID, (List<SelectListItem>)ViewBag.dgr, new { @class="form-control"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
}